@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* # Front-end Style Guide */

  /* ## Colors */

  /* ### Primary */

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

span {
  cursor: pointer;
}

span:active svg {
  color: var(--soft-magenta);
}

span:active {
  border-color: var(--soft-magenta);
}

body {
  background: url("/bg-desktop.svg");
  background-color: var(--violet);
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 768px) {
  body {
    background: url("/bg-mobile.svg") top center no-repeat;
    background-size: contain;
    background-color: var(--violet);
  }
}
